<section class="contact" id="contact">
  <div class="contact__intro">
    <h3>Get in Touch</h3>

    <p>Fill out this simple contact form, and I'll get back to you to discuss your project.</p>

    <p>Alternatively, get in touch by phone on <a href="tel:{{ site.tel }}">{{ site.tel }}</a> or send an email to <a href="{{ site.email }}">{{ site.email }}</a>.</p>
  </div>

  <form action="/contact" method="post" class="contact__form form">
    <label for="name" class="form__field">
      <span class="form__label">Name</span>
      <input type="text" name="name" class="form__input" />
    </label>

    <label for="email" class="form__field">
      <span class="form__label">Email</span>
      <input type="email" name="email" class="form__input" />
    </label>

    <label for="tel" class="form__field">
      <span class="form__label">Phone</span>
      <input type="tel" name="tel" class="form__input" />
    </label>

    <label for="budget" class="form__field">
      <span class="form__label">Budget</span>
      <select name="budget" class="form__select">
        <option>£0 - £1000</option>
        <option>£1000 - £5000</option>
        <option>£5000+</option>
      </select>
    </label>

    <label for="message" class="form__field form__field--full-width">
      <span class="form__label">Message</span>
      <textarea name="message" class="form__textarea"></textarea>
    </label>

    <button class="button">Send</button>
  </form>
</section>

<footer class="footer">
  <div class="footer__copyright">&copy; {{ site.time | date: "%Y" }} {{ site.name }}</div>

  <div class="footer__social">
    <a href="https://facebook.com/{{ site.facebook_username }}" class="footer__social__facebook">{% include icons/facebook.svg %} Like {{ site.facebook_username }} on Facebook</a>
  </div>
</footer>
