.menu
  align-items: center
  display: flex
  justify-content: flex-end
  left: 0
  padding: #{$baseline * 2} 0
  position: fixed
  top: 0
  transition: transform .25s
  width: 100%
  z-index: 999

  .menu-open &
    transform: translateX(calc(-100vw + #{$baseline * 2}))

    @media (min-width: $sidebar_width)
      transform: translateX(#{$sidebar_width * -1})

  &__toggle
    align-items: center
    background: $color-black
    border-radius: .25em 0 0 .25em
    display: flex
    height: #{$baseline * 1.5}
    justify-content: center
    width: #{$baseline * 1.5}

    path
      fill: $color-white

  .icon
    height: auto
    width: $baseline

    .menu-open &
      transform: translateX(-.125em)

    path
      transition: opacity .25s, transform .5s


      &:first-child
        opacity: 1

        .menu-open &
          opacity: 0

      &:nth-child(2)
        transform-origin: top right

        .menu-open &
          transform: translate(0) rotate(-45deg)

      &:last-child
        transform-origin: bottom right

        .menu-open &
          transform: translateY(0) rotate(45deg)

