.project-list
  padding: $baseline

  @media (min-width: 42em)
    padding: between($baseline, $baseline * 2, 42em, 80em) between($baseline, $baseline * 4, 42em, 80em)

  @media (min-width: 80em)
    padding: #{$baseline * 2} #{$baseline * 4}

  &__item
    display: flex
    flex-wrap: wrap
    margin: 0 0 #{$baseline * 2}

    @media (min-width: 60em)
      flex-wrap: nowrap

    .project__sidebar
      order: 1

      @media (min-width: 60em)
        margin-left: $baseline
