---
layout: base
---

{% if page.images %}
  <section class="gallery">
    {% for image in page.images limit: 3 %}
      <div class="gallery__image">
        {% picture {{ image | split: '/' | last }} %}
      </div>
    {% endfor %}
  </section>
{% else  %}
  <section class="gallery">
    {% for project in site.projects limit: 3 %}
      <div class="gallery__image">
        {% picture {{ project.images | first | split: '/' | last }} %}
      </div>
    {% endfor %}
  </section>
{% endif %}

<main id="content" class="content" role="main">
  {{ content }}
</main>
